<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Your posts</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to "Dash board", users_path %></li>
            <li class="breadcrumb-item active">Books</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= link_to admins_posts_classify_path, method: :post do %>
                <i class="fas fa-clipboard-check"></i> Classifier
              <% end %>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="posts_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Title</th>
                  <th>Brief content</th>
                  <th>User</th>
                  <th>Status</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render @posts %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Photo</th>
                  <th>Title</th>
                  <th>Brief content</th>
                  <th>User</th>
                  <th>Status</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
