<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Your books</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to "Dash board", users_path %></li>
            <li class="breadcrumb-item active">Requests</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              Requests from collectors
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="books_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Receiver name</th>
                  <th>Receiver phone</th>
                  <th>Receiver address</th>
                  <th>Total price</th>
                  <th>Payment method</th>
                  <th>Status</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render @orders %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Receiver name</th>
                  <th>Receiver phone</th>
                  <th>Receiver address</th>
                  <th>Total price</th>
                  <th>Payment method</th>
                  <th>Status</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
