<form class="comment__form" action="#">
  <div class="input__box">
    <textarea id="comment" name="comment" placeholder="<%= t ".your_comment" %>" postid="<%= @post.id %>" parentid="" ></textarea>
  </div>
  <div class="submite__btn">
    <a href="javascript:void(0)" id="comment_btn"><%= t ".post_comment" %></a>
  </div>
</form>
