/*
 *= require_self
 *= require admin-lte/plugins/fontawesome-free/css/all.min
 *= require admin-lte/dist/css/adminlte.min
 *= require admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4
 *= require admin-lte/plugins/select2/css/select2.min
 *= require summernote-bs4
 *= require sweetalert2/dist/sweetalert2.min
 *= require pnotify/dist/PNotifyBrightTheme
*/

.image-sortable {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.image-sortable .image {
  margin-left: 10px;
}

.dropdown-item {
    white-space: normal !important;
}
